<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="dist/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="dist/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="dist/favicon-16x16.png" />
    <link rel="manifest" href="dist/site.webmanifest" />
    <link rel="mask-icon" href="dist/safari-pinned-tab.svg" color="#000000" />
    <meta name="apple-mobile-web-app-title" content="Bitburner" />
    <meta name="application-name" content="Bitburner" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-config" content="dist/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <script>
      // Give a warning if you go back in browser history.
      window.onbeforeunload = function () {
        return "Your work will be lost.";
      };
    </script>
    <!-- Google Analytics -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");
    </script>
    <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
    <script>
      ga("create", "<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>", "auto");
      ga("send", "pageview");
    </script>
    <% } %>
    <style>
      body {
        background-color: black;
      }
      * {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
      }
      .myGlyphMarginClass {
        background: red;
      }
      .myContentClass {
        background: lightblue;
      }
      *::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    </style>
  </head>
  <body>
    <div id="root" />
  </body>
</html>
